<span class="breadcrumb-unit"><a href="/">etusivu</a> <span class="glyphicon glyphicon-chevron-right"></span> <%= @unit.name %></span>
<section>
  <div class="mainlink col-xs-12 col-sm-6 col-md-6 col-lg-3">
    <a href='/dashboard/<%= @unit.name %>/raportti'>
      <div class="title">
        <h3>Raportit</h3>
      </div>
      <span class='glyphicon glyphicon-stats' />
    </a>
  </div>

  <div class="mainlink col-xs-12 col-sm-6 col-md-6 col-lg-3">
    <a href='/dashboard/<%= @unit.name %>/data'>
      <div class="title">
        <h3>Tiedonsyöttö</h3>
      </div>
      <span class='glyphicon glyphicon-list-alt' />
    </a>
  </div>
</section>